{% extends "learning_logs/base.html" %}

{% load bootstrap3 %}

{% block header %}
    <h2>
        Add a new topic:
    </h2>
{% endblock header %}


{% block content %}

    <form action="{% url "learning_logs:new_topic" %}" method="post" class="form">
        {% csrf_token %}

{#        {{ form.as_p }} <!--显示表单-->#}
        {% bootstrap_form form %}

{#        {% buttons %}#}
{#            <button type="button" class="btn btn-default btn-lg" name="submit">#}
{#            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>#}
{#            add topic#}
{#            </button>#}
{#        {% endbuttons %}#}


        {% buttons %}
            <button name="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp; Add topic</button>
        {% endbuttons %}


    </form>

{% endblock content %}
